<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MMMN Detection Framework</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

  <header class="d-flex justify-content-between align-items-center px-4 py-3 border-bottom bg-white">
  
    <div id="theme-toggle" style="cursor: pointer;">
      <i class='bx bx-moon' id="theme-icon"></i>
    </div>

    <div class="fw-bold fs-4">
      MMMN
    </div>
  </header>

  <main class="container py-5">
    <h1 class="text-center mb-4">Welcome to MMMN Detection Framework</h1>
    


    <div class="upload-container mx-auto my-4 p-5 bg-light rounded shadow" style="max-width: 600px;">
    <h5 class="text-center mb-4">📤 Drag & Drop an Image or Click to Upload</h5>
    <form id="upload-form" method="POST" enctype="multipart/form-data">
        <div id="drop-area" class="drop-area text-center p-4 border border-2 border-primary rounded">
        <p class="text-muted">Drop your image here</p>
        <input type="file" name="image" id="fileElem" accept="image/*" class="d-none">
        <label for="fileElem" class="btn btn-primary mt-2">Browse</label>
        </div>
    </form>
    </div>

  </main>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sendData.js') }}"></script>
</body>
</html>
